<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cirdles.chroni"
    android:versionCode="0"
    android:versionName="2.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />
    	<uses-permission android:name="android.permission.INTERNET" />
    	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

   <supports-screens android:requiresSmallestWidthDp="600" />
    		 	
    <application
        android:allowBackup="true"
        android:icon="@drawable/cirdles_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <activity
            android:name="org.cirdles.chroni.HomeScreenActivity"
             android:screenOrientation="portrait"
             android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.cirdles.chroni.MainMenuActivity"
            android:parentActivityName="android.intent.action.USERPROFILE"
           android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAINMENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
                <activity
            android:name="org.cirdles.chroni.UserProfileActivity"
            android:parentActivityName="android.intent.action.MAINMENU"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.USERPROFILE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="org.cirdles.chroni.HistoryActivity"
            android:parentActivityName="android.intent.action.MAINMENU"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.HISTORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity 
           android:name="org.cirdles.chroni.FilePickerActivity"
           android:screenOrientation="portrait"
           android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.FILEPICKER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.cirdles.chroni.AliquotMenuActivity"
            android:parentActivityName="android.intent.action.MAINMENU"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.ALIQUOTMENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.cirdles.chroni.ReportSettingsMenuActivity"
            android:parentActivityName="android.intent.action.MAINMENU"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.REPORTSETTINGSMENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity
            android:name="org.cirdles.chroni.TablePainterActivity"
            android:parentActivityName="android.intent.action.MAINMENU"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.DISPLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
